# LangChain core packages
langchain>=1.0.0
langchain-community>=0.3.0
langchain-core>=0.3.0
langchain-ollama
langchain-anthropic
langchain-openai
langchain-huggingface

# ChromaDB and vector store
langchain-pinecone
langchain-chroma>=0.1.4
chromadb==0.5.20
chroma-hnswlib==0.7.6

# Ollama and utilities
ollama
python-dotenv
sentence-transformers

# Evaluation
ragas
streamlit

# Ingestion dependencies
pdfplumber
slack_sdk
certifi
